html, body {
    width: 100%;
    height: 100%;
    background-color: aqua;
}

.game-field {
    position: relative;
    width: 600px;
    height: 400px;
}

.row {
    display: flex;
}

.col {
    justify-content: center;
    display: flex;
    flex: 1 1 50%;
}